@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'titel';
    src: url('../../fonts/OpenSans-CondLight.ttf');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../../fonts/FontAwesome.otf');
}