$wit:#F4F4F4;
$donkergrijs:#4A4037;
$oranje:#E44D26;
$link: #B30700;
$linkedin:#1984BC;
$fb:#405D9A;
$pinterest:#BD1E23;
$basicfont:'titel',
Verdana,
Arial,
sans-serif;
$basicfontsize: 0.9em;
$font-tekst:Roboto,
Verdana,
Arial,
sans-serif