@font-face {
			font-family: 'ceiluxfont';
			src: url('../fonts/ceilux_std.woff') format('woff');
			font-weight: normal;
			font-style: normal;
		}
		
		@font-face {
			font-family: 'ceiluxfont';
			src: url('../fonts/ceilux_bold.woff') format('woff');
			font-weight: bold;
			font-style: normal;
		}